h1{
    color: white;
}
p{
    color: white;
}
.header{
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .logo{
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.header .navbar{
    overflow: hidden;
    float:right;
}
.header .navbar a{
    color: white;
    padding: 0px 20px;
    text-decoration: none;
}
body, html {
    height: 100%;
  }
.section1{
    /* The image used */
    background-image: url("background.gif");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.section2{
    background-image: url("sec2Background.gif");
    /* The image used */
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button-white{
    color: black;
    background-color: white !important;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.button-black{
    color: white;
    background-color: black !important;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
@media only screen and (max-width: 900px) {
    #myimage {
        display: none;
    }
}
